<%- include('../partials/headless')%>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<style>
	body{background: white !important;}

	.sqr-green{
		border-color: #507E31 !important;
    	background: #70AD47;
	}
	.sqr-green .inner{
	    border-color: #507E32;
	    color: #70AD47;
	}
	.sqr-blue{
		border-color: #313e7e !important;
    	background: #00B0F0;
	}
	.sqr-blue .inner{
	    border-color: #313e7e;
	    color: #00B0F0;
	}
	.sqr-yellow{
		border-color: #b7bf3e !important;
    	background: #FFFF00;
	}
	.sqr-yellow .inner{
	    border-color: #b7bf3e;
		color: #FCD641;
	}
	.sqr-red{
		border-color: #7e3131 !important;
    	background: #FF0000;
	}
	.sqr-red .inner{
	    border-color: #7e3131;
	    color: #FF0000;
	}

	@media print {
		h1, h2 {
			color: #ffffff !important;
		}
		.inner{
			background: white !important;
		}
		.sqr-green .inner{
			color: #70AD47 !important;
		}
		.sqr-green{
			background: #70AD47 !important;
		}
		.sqr-blue{
			background: #00B0F0 !important;
		}
		.sqr-blue .inner{
			color: #00B0F0 !important;
		}
		.sqr-yellow{
			background: #FFFF00 !important;
		}
		.sqr-yellow .inner{
			color: #FCD641 !important;
		}
		.sqr-red{
			background: #FF0000 !important;
		}
		.sqr-red .inner{
			color: #FF0000 !important;
		}
		.th-comp{
			font-size: 1.8rem !important;
			text-align: center !important;
			width: 100%;
			background-color: black !important;
			color: white !important;
			padding: 10px !important;
		}
		.n_p{
			padding: 0 !important;
		}
		.td2, .td1, .td3{
			width: 100% !important;
			padding: 10px !important;
			font-size: 1.2em !important;
		}
		#myTable .td2, .td1{
			height: 140px !important;
		}
		.td2{
			background-color: #EEEEEE !important;
		}
		.td3{
			background-color: #EEEEEE !important;
			height: 40px !important;
			text-align: center !important;
		}
		#myTable td {
			padding: 0 !important;
			<!-- width: 50% !important; -->
			border: none !important;
		}
		#myTable .td3l {
			width: 35% !important;
		}
		#myTable .td3r {
			width: 65% !important;
		}
		/*Segunda Tabla*/
		#myTable2 td {
			padding: 0 !important;
			width: 12% !important;
			border: none !important;
			text-align: center !important;
		}
		.th-nb{
			border: none !important;
		}
		.th-comp2{
			font-size: 1.3rem !important;
			text-align: center !important;
			width: 100%;
			height: 80px !important;
			background-color: black !important;
			color: white !important;
			padding: 10px !important;
			margin: auto 0 !important;
		}
		#myTable2 .tdd0{
			background-color: #EEEEEE !important;
		}
		#myTable2 .tdd0, #myTable2 .tdd1{
			height: 45px !important;
		}
   }

	.cover{
		width: 200px;
		height: 200px;
		border: 5px solid;
		margin: auto;
		padding-top: 20px;
	}
	.inner{
		border: 5px solid;
		background: white;
		width: 150px;
		height: 150px;
		margin: auto;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		padding-top: 50px;
	}
	section{
		height: 1375px;
	}
</style>

<% function verCH(valor){
	if(valor>=90.01) return "sqr-blue";
	if(valor>=70.01) return "sqr-green";
	if(valor>=60.01) return "sqr-yellow";
	return "sqr-red";
}%>

<section>
<img style="width: 100%" src="/images/coverReport.png">
<div style="margin-top: -700px; margin-left:10%;">
	<h1 style="font-size: 5rem; color:white">Evaluación Vitamina<br></h1>
	<h1 style="font-size: 3.5rem; color:white">Reporte Individual</h1>
	<!-- <h1 style="font-size: 3.5rem; color:white"><%=//quest.name%></h1> -->
	<h2 style="font-size: 3rem; color:white"><%=data.nombre%></h2>
</div>
</section>

<div class="container" style="margin-top: 700px">

	<section>
	 <table class="table table-bordered table-striped" style="margin-top: 50%;">
			<thead>
			  <tr>
				  <th colspan="2" class="n_p"><div class="th-comp">TABLA DE DEFINICIÓN DE COMPETENCIAS</div></th>
			  </tr>
			</thead>
			<tbody id="myTable">
				<tr>
					<td class="td3l"><div class="td3"><b style="color: #66AAC4 !important;">COMPETENCIA</b></div></td>
					<td class="td3r"><div class="td3"><b style="color: #66AAC4 !important;">DESCRIPCIÓN</b></div></td>
				</tr>
				<tr>
					<td><div class="td1"><b>Empatía:</b></div></td>
					<td><div class="td1">Capacidad de captar lo que otro piensa y necesita, así como el desarrollo de una conexión sincera con su sentir como si fuera propio a pesar de que no sea lo mismo que uno pensaría o sentiría en la misma situación, sintiendo a la vez el deseo de consolar y de ayudar. Esta capacidad predispone no solo a sentir el sufrimiento sino a compartir también la dicha y a participar de la alegría de otra persona.</div></td>
				</tr>
				<tr>
					<td><div class="td2"><b>Resiliencia:</b></div></td>
					<td><div class="td2">Proceso personal, social, cultural y psicológico que permite un afrontamiento eficaz y oportuno además de una readaptación exitosa ante la exposición a estímulos estresores significativos u otros riesgos. Esta nos permitiría explicar por qué en un momento la persona tiene o no una mejor adaptación a su vida diaria.</div></td>
				</tr>
				<tr>
					<td><div class="td1" style="height: 180px !important"><b>Responsabilidad afectiva:</b></div></td>
					<td><div class="td1" style="height: 180px !important">Consenso, cuidado y diálogo sobre los sentimientos y emociones que surgen en una relación de cualquier naturaleza. Cuidar implica escuchar al otro y acompañarlo teniendo en cuenta sus emociones. Esto nos llevará a ser conscientes de que todo acto que una persona realice dentro de una relación tiene una consecuencia positiva o negativa, procurando siempre evitar el dolor innecesario que generan las falsas expectativas del amor romántico.</div></td>
				</tr>
				<tr>
					<td><div class="td2"><b>Afrontamiento de problemas y situaciones:</b></div></td>
					<td><div class="td2">Capacidad que nos permite mantener la cabeza fría y realizar una gestión eficaz de nuestras emociones ante una determinada situación dolorosa o problemática, todo ello con el objetivo de encontrar una solución adaptativa y alineada con nuestros intereses u objetivos.</div></td>
				</tr>
				<tr>
					<td><div class="td1"><b>Inteligencia emocional:</b></div></td>
					<td><div class="td1">Capacidad de entender y comprender las emociones propias y de los otros para poder expresarnos de una manera apropiada y asertiva que nos lleve a ser capaces de reaccionar y tomar decisiones de una mejor manera. </div></td>
				</tr>
				<tr>
					<td><div class="td2"><b>Interrelaciones:</b></div></td>
					<td><div class="td2">Capacidad de corresponder, relacionarse, interactuar e intercomunicar con las demás personas en un ambiente de confianza el cuál favorezca que se sientan comprendidas.</div></td>
				</tr>
				<tr>
					<td><div class="td1" style="height: 180px !important"><b>Sentido del humor:</b></div></td>
					<td><div class="td1" style="height: 180px !important">Este es considerado un rasgo estable de la personalidad, un vehículo de la buena comunicación, un mecanismo de defensa ante situaciones adversas, una forma de liberar ansiedad, tensión e inseguridad y una competencia que abarca una noción multidimensional que implica cuatro componentes: a) un contexto social, b) un componente perceptual cognitivo, c) una respuesta emocional, y d) una expresión vocal y conductual de risa. Así mismo este se liga a una gran capacidad del ser humano para experimentar y/o empoderar un estado de ánimo positivo.</div></td>
				</tr>
				<tr>
					<td><div class="td2"><b>Motivación de los demás o motivación social: </b></div></td>
					<td><div class="td2">Es aquella que se refiere a la reacción que tienen las personas ante los estímulos externos, es decir, sociales, por los que están rodeadas y cómo afectan dichos estímulos a su comportamiento del día a día en ellos mismos y en su relación con otros. También podemos definirla como la capacidad de un individuo para incentivar y potencializar a otra persona para que pueda desarrollarse y de lo mejor de sí.</div></td>
				</tr>
			</tbody>
		  </table>
	</section>

	<section>
		<h3 style="text-align: center; color: white !important;">-</h3>
		<h3 style="text-align: center; margin-top: 20px"><b>RESULTADO GLOBAL EVALUACIÓN DE COMPETENCIAS</b></h3>
		<table style="width: 100%;">
			<tr>
				<td style="width: 50%; padding: 20px 0;"><div class="<%=verCH(resp.brr[2])%> cover"><div class="inner"><%=resp.brr[2]%>%</div></div></td>
				<td style="width: 50%; padding: 20px 0;"><div class="cover sqroc"><div class="inner">00.00%</div></div></td>
			</tr>
			<tr>
				<td style="text-align: center; padding: 20px 0;">Resultado Total*</td>
				<td style="text-align: center; padding: 20px 0;">Resultado empleados <br>del mismo nivel</td>
			</tr>
		</table>
		<table class="table table-bordered table-striped">
			<thead>
			  <tr>
				<th class="n_p th-nb" style="width: 16% !important;"><div class="th-comp2">COMPETENCIA</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Autoevaluación</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Jefe</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Colega</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Colaborador</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Resultado con autoevaluación</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Resultado sin autoevaluación</div></th>
				<th class="n_p th-nb"><div class="th-comp2">Resultado empleados del mismo nivel</div></th>
			</tr>
			</thead>
				<tbody id="myTable2">
					<%for (let i = 0; i < quest.categoria.length; i++) {%>
						<tr>
							<td class="cate"><div class="tdd<%=i%2%>"><%= quest.categoria[i]  %></div></td>
							<td class="a"><div class="tdd<%=i%2%>"><%= resp.arr[0][i] %></div></td>
							<td class="b"><div class="tdd<%=i%2%>"><%= resp.arr[1][i] %></div></td>
							<td class="c"><div class="tdd<%=i%2%>"><%= resp.arr[2][i] %></div></td>
							<td class="d"><div class="tdd<%=i%2%>"><%= resp.arr[3][i] %></div></td>
							<td class="e"><div class="tdd<%=i%2%>"><%= resp.arr[4][i] %></div></td>
							<td class="f"><div class="tdd<%=i%2%>"><%= resp.arr[5][i] %></div></td>
							<td class="tabt"><div class="tdd<%=i%2%>">-</div></td>
						</tr>
					<%}%>
						<tr>
							<td class="cate"><b>Total</b></td>
							<td class="a"><div class="tdd3"><b><%= resp.brr[0] %></b></div></td>
							<td class="b"><div class="tdd3"><b><%= resp.brr[1] %></b></div></td>
							<td class="c"><div class="tdd3"><b><%= resp.brr[2] %></b></div></td>
							<td class="d"><div class="tdd3"><b><%= resp.brr[3] %></b></div></td>
							<td class="e"><div class="tdd3"><b><%= resp.brr[4] %></b></div></td>
							<td class="f"><div class="tdd3"><b><%= resp.brr[5] %></b></div></td>
							<td class="tabt" style="font-weight: bold"><div class="tdd3">-</div></td>
						</tr>
				</tbody>
		  </table>
		<p style="text-align: right; padding: 10px 0;">*El resultado total no contempla la autoevaluación</p>


		<center><h3 style="text-align: center;"><b>NIVEL DE DESARROLLO DE COMPETENCIA</b></h3>
		<img style="width: 75%" src="/images/escala.png"></center>
	</section>
	<% let qalto = resp.alto==""? [null] : resp.alto.split(",").map(Number) %>
	<% let qbajo = resp.bajo==""? [null] : resp.bajo.split(",").map(Number) %>
<%for (let i = 0; i < quest.categoria.length; i++) {%>
	<section>
		<h3 style="text-align: center; color: white !important;">-</h3>
		<h3 style="text-align: center;">RESULTADOS DETALLADOS POR COMPETENCIA</h3>
		<h3 style="text-align: center;"><%=quest.categoria[i]%></h3>
		<table style="width: 100%;">
			<tr>
				<td style="width: 50%; padding: 20px 0;"><div class="<%=verCH(resp.arr[2][i])%> cover"><div class="inner"><%=resp.arr[2][i]%>%</div></div></td>
				<td style="width: 50%; padding: 20px 0;"><div class="cover sqroc"><div class="inner">00.00%</div></div></td>
			</tr>
			<tr>
				<td style="text-align: center; padding: 20px 0;">Resultado</td>
				<td style="text-align: center; padding: 20px 0;">Resultado empleados <br>del mismo nivel</td>
			</tr>
		  </table>
		<div class="jumbotron" style="margin-top: 10px">
			<canvas id="myChart<%=i%>" width="400" height="400"></canvas>
		</div>
		<center><img style="width: 75%" src="/images/escala.png"></center>
		<h3 style="color: white !important;">-</h3>
		<h4>COMPORTAMIENTOS <span style="background: #00B0F0 !important;">SOBRESALIENTES</span> O POR <span style="background: #FFFF00 !important;">TRABAJAR</span></h4>
		<%for (let j = quest.cati[i]; j < quest.cati[i+1]; j++) {%>
			<% if(qalto.includes(j)){%><p><span style="background: #00B0F0 !important;"><%=quest.preg[j]%></span></p><%}%>
		<%}%>
		<%for (let j = quest.cati[i]; j < quest.cati[i+1]; j++) {%>
			<% if(qbajo.includes(j)){%><p><span style="background: #FFFF00 !important;"><%=quest.preg[j]%></span></p><%}%>
		<%}%>
	</section>
<%}%>
	<section>
		<h3 style="text-align: center; color: white !important;">-</h3>
		<h3 style="text-align: center; margin-top: 20px"><b>COMENTARIOS DE LOS EVALUADORES</b></h3>
		<div style="background-color: #eeeeee !important; padding: 50px !important">
			<ol>
				<%let coms = resp.comments.split("|,"); for (let j = 0; j < coms.length; j++) { %>
				<li style="font-size: 1.2em"><%=coms[j]%></li>
				<%}%>
			</ol>
		</div>
	</section>
	</div>


<script>
const as = document.querySelectorAll(".a div")
const bs = document.querySelectorAll(".b div");
const cs = document.querySelectorAll(".c div");
const ds = document.querySelectorAll(".d div");
const es = document.querySelectorAll(".e div");
const fs = document.querySelectorAll(".f div");
const preg = document.querySelectorAll(".cate div");

function verC(valor){
	const rojo = 'rgba(255, 0, 0, 0.8)', amarillo = 'rgba(255, 255, 0, 0.8)', verde = 'rgba(112, 173, 71, 0.8)', azul = 'rgba(0, 176, 240, 0.8)';

	if(valor>=90.01) return azul;
	if(valor>=70.01) return verde;
	if(valor>=60.01) return amarillo;
	return rojo;

}

const n = document.querySelectorAll("canvas");
for (let i = 0; i < n.length; i++) {

let ctx = n[i].getContext('2d');
//let valC= [parseFloat(as[0].innerHTML),parseFloat(bs[0].innerHTML),parseFloat(cs[0].innerHTML),parseFloat(ds[0].innerHTML),parseFloat(es[0].innerHTML),parseFloat(fs[0].innerHTML)];
// labels: ['Autoevaluación - '+as[i].innerHTML, 'Jefe - '+bs[i].innerHTML, 'Colega - '+cs[i].innerHTML, 'Colaborador - '+ds[i].innerHTML, 'RESULTADOS - '+fs[i].innerHTML],

let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Autoevaluación - '+as[i].innerHTML, 'RESULTADOS - '+cs[i].innerHTML, 'Total - '+es[i].innerHTML],
        datasets: [{
            data: [parseFloat(as[i].innerHTML), parseFloat(cs[i].innerHTML), parseFloat(es[i].innerHTML), parseFloat(es[i].innerHTML)],
            backgroundColor: [
                verC(as[i].innerHTML),
                verC(cs[i].innerHTML),
                verC(fs[i].innerHTML)
            ],
			barThickness: 80
        }]
    },
    options: {
		maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true,
				max: 100
            }
        },
		plugins: {
            title: {
                display: true,
                text: preg[i].innerHTML,
                padding: {
                    top: 10,
                    bottom: 30
                },
				font: {
					size: 30
				}
            },
			legend: {
			  display: false
			}
        }
    }
});

}

	function verCH(valor){
		if(valor>=90.01) return "sqr-blue";
		if(valor>=70.01) return "sqr-green";
		if(valor>=60.01) return "sqr-yellow";
		return "sqr-red";
	}

	function addLast(arr){
		const p = document.querySelectorAll(".tabt div");
		for (let i = 0; i < p.length; i++) {
			p[i].innerText=arr[i].toFixed(2);
		}
		const s = document.querySelectorAll(".sqroc");
		s[0].classList.add(verCH(arr[11]))
		s[0].querySelector(".inner").innerText=arr[11].toFixed(2)+"%";
		for (let i = 1; i < s.length; i++) {
			s[i].classList.add(verCH(arr[i-1]))
			s[i].querySelector(".inner").innerText=arr[i-1].toFixed(2)+"%";
		}
	}


</script>

	</body>
<%- include('../partials/footer')%>
