<%- include('../partials/head')%>
	
		<div class="container" id="crform">
			<% if(succes && succes.length) {%>
			<div class="alert alert-success" role="alert" style="text-align: center; margin-top: 10px;"><%=succes%></div>
			<%}%>
			<a class="btn" style="background: #72d2ff; margin: 25px 0;" href="/evaluadores/">Regresar</a>
		<h1>Evaluador: <%= data.nombre %></h1>
		 
		<table id="tabif" class="table table-bordered table-striped">
			<thead>
			  <tr>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Localidad</th>
				<th>Seccion</th>
				  <th>Quien?</th>
			</tr>
			</thead>
			  <h3>Informacion Basica:</h3>
				<tbody id="myTable">
				<tr>
					<td><%= data.nombre %></td>
					<td><%= data.correo %></td>
					<td><%= data.localidad %></td>
					<td><%= data.seccion %></td>
					<td><%= data.quienlleno %></td>	
				</tr>
			</tbody>
		  </table>
			
		  <%let idx=0;%>
		  <h2>Evaluados</h2>
			<p>Fecha de respuesta: <%=data.lastdate.toLocaleString('es-MX', { timeZone: 'America/Mexico_City'})%></p>
          <table class="table">
            <tbody>
				<tr>
              <th style="border:none">&nbsp;</th>
				<%for (let element of data.evaluando) {%>
					<th class="form-th">
						<label> <%= element.nombre %> </label>
					</th>
				<%}%>
            </tr>
			<%for (let i = 0; i < quest.preg.length; i++) {%>
			<%if(i === quest.cati[idx]) {%>
				<tr>
				  <th colspan="<%=data.evaluando.length+1%>" class="thheader form-th"><%= quest.categoria[idx]%></th>
				</tr>
			<%idx++;}%>
            <tr>
              <th class="form-th">
                <label> <%= quest.preg[i] %></label>
              </th>
				<%for (let j = 0; j < data.evaluando.length; j++) {%>
					<td class="form-value">
						<% if(data.evaluando[j].respuestas[i]!=null) {%><p><%= data.evaluando[j].respuestas[i] %></p><%}else{%><p>N/A</p><%}%>
				  	</td>
				<%}%>
            </tr>
				<%}%>
          </tbody></table>
			
		<form style="align-items: flex-end;" id="delif" method="POST" action="/evaluadores/<%=data._id%>?_method=DELETE" onsubmit="return confirm('En serio quieres borrar?');">
			<button class="btn btn-danger">Borrar</button>
		</form>

	</body>
<%- include('../partials/footer')%>	
