<%- include('../partials/head')%>

		<div class="container" id="crform">
			<% if(del && del.length) {%>
			<div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 10px;"><%=del%></div>
			<%}%>
			<% if(succes && succes.length) {%>
			<div class="alert alert-success" role="alert" style="text-align: center; margin-top: 10px;"><%=succes%></div>
			<%}%>

			<a href="/evaluadores/<%= idt %>" class="btn btn-info btn-lg" style="width:100%">Regreso</a>

		  <h2>Evaluadores Forms</h2>
		  <p>Buscar por ID o mas cosas: </p>
		  <input class="form-control" id="myInput" type="text" placeholder="Search..">
		  <br>

		  <table class="table table-bordered table-striped">
			<thead>
			  <tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Form</th>
				<!-- <th>Ver</th> -->
				 <th>Correo</th>
				<th>Se mando</th>
			  </tr>
			</thead>
			<tbody id="myTable">
				<%j=1;for (let element of data) {%>
					<tr>
						<td><%= j %></td>
						<td><%= element.nombre %></td>
						<td><a href="https://rcforms.herokuapp.com/form/<%= element._id %>">https://rcforms.run-us-west2.goorm.io/form/<%= element._id %></a></td>
						<!-- <td><a href="/form/<%= //element._id %>" class="btn btn-info">Form</a></td> -->
						<td><%= element.correo %></td>
						<td class="text-center"><% if (element.contesto) {%>Ya <span style="color:#2b9dff;" class="glyphicon glyphicon-asterisk"></span><%} else if(element.semando){%>Si <span style="color:#2ac32a;" class="glyphicon glyphicon-ok"></span><% } else { %>No <span style="color:#ff6161;" class="glyphicon glyphicon-remove"></span><%}%></td>
					</tr>
				<%j++;}%>
			</tbody>
		  </table>

			<form method="POST" action="/correos/<%= idt %>" onsubmit="return confirm('En serio quieres mandar correos?');">
				<button style="background-color: #003d70" class="btn btn-primary btn-lg">Mandar Correos</button>
			</form>
			<form method="POST" action="/evaluadores/<%= idt %>/correo" onsubmit="return confirm('Vas a resetiar, Estas seguro???');">
				<button class="btn btn-info btn-lg">Resetar Envios</button>
			</form>
			<div style="height: 25px;"></div>
		</div>

		<script src="/js/general.js"></script>
	</body>
<%- include('../partials/footer')%>
