<%- include('../partials/head')%>

<div class="container" id="crform">
  <% if(del && del.length) {%>
  <div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 10px;"><%=del%></div>
  <%}%>
			<% if(succes && succes.length) {%>
  <div class="alert alert-success" role="alert" style="text-align: center; margin-top: 10px;"><%=succes%></div>
  <%}%>
			
			
		  <h2>Todos los Evaluadores</h2>
		  <p>Buscar por ID o mas cosas: </p>  
		  <input class="form-control" id="myInput" type="text" placeholder="Search..">
		  <br>
			<p>Respondidos: <%= data.filter(x => x.contesto).length%> de <%=data.length%></p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tanda</th>
        <th>Nombre</th>
        <th>Evaluando a</th>
        <th>Contesto?</th>
        <th>Form</th>
        <th>Ver</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <%let j=1;for (let element of data) {%>
      <tr>
        <td><%= j %></td>
        <td><% var index = vsession.itandas.indexOf(element.idt) %><%= vsession.ntandas[index]%></td>
        <td><%= element.nombre %></td>
        <%var text = ""; for (let eva of element.evaluando) {
							text+=eva.nombre+", ";
						}%>
        <td><%= text %></td>
        <td class="text-center"><%if(element.contesto){ %>Si <span style="color:#2ac32a;" class="glyphicon glyphicon-ok"></span><% } else { %>No <span style="color:#ff6161;" class="glyphicon glyphicon-remove"></span><%}%></td>
						<td><a href="/form/<%= element._id %>" class="btn btn-info">Form</a></td>
        <td><a href="/evaluadores/<%= element.idt %>/<%= element._id %>" class="btn btn-primary <%if(!element.contesto){%>disable<%}%>">Info</a></td>
					</tr>
				<%j++;}%>
			</tbody>
		  </table>
			
			<div style=" height: 25px;">
</div>
</div>

<script src="/js/general.js"></script>
</body>
<%- include('../partials/footer')%>